.first-list__item {
  margin-bottom: 30px;
}
.first-list__item:before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--btn-bg-cl);
  border-radius: 4px;
  margin-right: 15px;
  margin-bottom: 30px;
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .first-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .first-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .first-list__item {
    width: 354px;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .first-list__item {
    width: 270px;
    margin: 15px;
  }
}

.icon-antenna::before {
  background-image: url(../images/first-icons/antenna\ 1.svg);
}

.icon-clock::before {
  background-image: url(../images/first-icons/clock\ 1.svg);
}

.icon-diagram::before {
  background-image: url(../images/first-icons/diagram\ 1.svg);
}

.icon-astronaut::before {
  background-image: url(../images/first-icons/astronaut\ 1.svg);
}

.title-three-in-benefits {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.main-par-in-benefits {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--par-txt-cl);
}

.our-team {
  background: var(--btn-bg-cl);
}
.our-team__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.our-team__socile-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--color-icon);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.our-team__socile-link:hover, .our-team__socile-link:focus {
  color: var(--other-color-wight);
  background-color: var(--hover-icon);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__svg {
  fill: currentColor;
}

.title-two-in {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.third-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .third-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .third-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.third-list__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.title-three-in-our {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.third-list-img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main-par-in-our {
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--par-txt-cl);
}

.list-shadow {
  background-color: var(--other-color-wight);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .list-shadow {
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .list-shadow {
    width: 270px;
    height: 428px;
  }
}

.customers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
@media screen and (min-width: 1200px) {
  .customers__title {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.customers__box {
  padding-left: 0;
  padding-right: 0;
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 480px) {
  .customers-list-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .customers-list-item {
    width: 226px;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-list-item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 170px;
    margin: 15px;
  }
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-icon);
  width: 100%;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover,
.customers__link:focus {
  color: var(--accent-bg-cl);
  border: 1px solid var(--accent-bg-cl);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--other-bg-cl);
  color: var(--other-color-wight);
}
@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__box {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .footer__two-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__two-block {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box-address {
    text-align: start;
    margin-right: 70px;
  }
}
.footer__par-address .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--other-color-wight);
}
.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__address {
  font-style: normal;
  margin-bottom: 60px;
}
.footer__address .footer__par-address {
  font-style: normal;
  margin-bottom: 9px;
}
.footer__list-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__box-social {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__box-social {
    text-align: start;
  }
}
.footer__par-social {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--other-color-wight);
}
.footer__link-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--other-color-wight);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.footer__social-icons {
  fill: currentColor;
}
.footer__link-icons:hover, .footer__link-icons:active {
  color: var(--other-color-wight);
  background-color: var(--hover-icon);
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.footer__list .footer__list-item {
  margin-bottom: 9px;
}
.footer__list .footer__list-item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .footer__form-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: start;
    width: 570px;
    height: 86;
  }
}
.footer__form-par {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--other-color-wight);
}
@media screen and (min-width: 1200px) {
  .footer__form-par {
    margin-left: 90px;
  }
}
.footer__logo-txt {
  color: var(--blue-txt-logo);
}
.footer__form {
  color: var(--other-color-wight);
}
.footer__form-block {
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer__form-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 93px;
  }
}
.footer__form-input {
  width: 358px;
  height: 50px;
  padding-left: 10px;
  margin-bottom: 20px;
  color: var(--btn-bg-cl);
  background-color: var(--other-bg-cl);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .footer__form-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-input {
    width: 358px;
    margin-right: 12px;
  }
}
.footer__form-input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 16px;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
}
.footer__form-input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 16px;
  align-items: center;
  letter-spacing: 0.03em;
}
.footer__form-input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 16px;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
}
.footer__form-input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 16px;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
}
.footer__form-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
}
.footer__form-block:focus-within .footer__form-input {
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__form-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-bg-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: left;
  padding-left: 28px;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
  color: currentColor;
}
.footer__form-icon {
  display: inline-block;
  position: absolute;
  right: 155px;
  bottom: 13px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .footer__form-icon {
    right: 310px;
    bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-icon {
    right: 5px;
    bottom: 35px;
  }
}

.footer__logo {
  display: block;
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--other-color-wight);
}
.footer__logo__logo-txt {
  color: var(--blue-txt-logo);
}

.header {
  position: relative;
  background-color: var(--other-color-wight);
  font-weight: 500;
  line-height: 1.1428571429;
  border-bottom: 1px solid rgb(236, 236, 236);
  min-width: 480px;
  height: 60px;
  padding: 16px 15px;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
.header__button-menu {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .header__button-menu {
    display: none;
  }
}
.header__button-menu .header__icon-dagger:hover {
  fill: var(--accent-txt-cl);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__button-menu .header__icon-dagger {
  display: none;
}
.header__button-menu.is-open .header__icon-dagger {
  display: block;
}
.header__button-menu.is-open .header__icon-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mobile-menu {
  background-color: var(--other-color-wight);
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    display: none;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: 0;
    width: 480px;
    height: 796px;
    z-index: 2;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu__socile-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-menu__socile-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    color: var(--blue-txt-logo);
    position: relative;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__socile-list .mobile-menu__socile-item::after {
    content: "";
    width: 22px;
    height: 0px;
    left: 315px;
    top: 726px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu__socile-list .mobile-menu__socile-item:last-child::after {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-menu__socile-list {
    display: none;
  }
}

.navigation {
  background-color: var(--other-color-wight);
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation__item .link:hover {
  color: var(--accent-txt-cl);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .navigation {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .navigation__list .navigation__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
  }
  .navigation__list .link {
    display: inline-block;
    color: var(--main-txt-cl);
  }
  .navigation__list .navigation__item:last-child {
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  .navigation__list .navigation__item {
    margin-right: 50px;
    margin-left: auto;
  }
  .navigation__list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 315px;
  }
  .navigation__list .navigation__item:last-child {
    margin-right: 0;
  }
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.group > .group__link {
  font-style: normal;
  font-weight: 500;
  color: var(--par-txt-cl);
}
.group__link {
  text-decoration: none;
  color: var(--main-txt-cl);
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.group__link:hover, .group__link:focus {
  color: var(--accent-txt-cl);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.group__link-icon {
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .group > .group__link {
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    margin-bottom: 64px;
  }
  .group .group__link:last-child {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764705882;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
    letter-spacing: 0.02em;
    color: var(--accent-txt-cl);
  }
  .group__link-icon {
    display: none;
  }
  .group__link-icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .group > .group__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.1666666667;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.02em;
    color: var(--par-txt-cl);
  }
}
@media screen and (min-width: 1200px) {
  .group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
  }
  .group > .group__link {
    font-size: 14px;
    line-height: 1.1428571429;
  }
  .group .group__link + .group__link {
    margin-left: 30px;
  }
  .group__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 161px;
    height: 16px;
  }
}

.logo {
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  margin-right: 92px;
  letter-spacing: 0.03em;
  color: var(--black-txt-logo);
}
.logo__txt {
  color: var(--blue-txt-logo);
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .current:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-bg-cl);
    opacity: 1;
  }
  .link.current {
    color: var(--accent-bg-cl);
  }
}
.link:hover,
.link:focus {
  color: var(--accent-txt-cl);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  position: relative;
  text-align: center;
  max-width: 1600px;
  max-height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/block4/Hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/block4/Hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--other-bg-cl);
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
}
.hero__title {
  display: block;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--other-color-wight);
}
@media screen and (min-width: 1600px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}
.hero__btn {
  background: var(--accent-bg-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  color: var(--other-color-wight);
}

.modal {
  position: relative;
  margin-top: 93px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 609px;
  background: var(--other-color-wight);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  -webkit-transform: position -50% -50%;
          transform: position -50% -50%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal:hover .modal__path {
  fill: var(--accent-bg-cl);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__path {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover .modal__path {
  fill: var(--accent-bg-cl);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-form {
  padding: 10px 40px;
}
.modal-form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
.modal-form__input {
  width: 370px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
  outline-color: transparent;
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__field:focus-within .modal-form___input {
  outline-color: #2196F3;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__field:focus-within .modal-form__icon {
  fill: #2196F3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__field:focus-within .modal-form__comment {
  outline-color: #2196F3;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__field textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__field textarea::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__field textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__field textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__field textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.modal-form__lable {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--par-txt-cl);
}
.modal-form__checkbox-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--par-txt-cl);
}
.modal-form__checkbox-icon {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid black;
  border-radius: 2px;
}
.modal-form__lable-link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-left: 4px;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}
.modal-form__checkbox-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
}
.modal-form__comment {
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  outline-color: transparent;
}
.modal-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: var(--btn-bg-cl);
  border: 0;
  background: var(--accent-bg-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.checkbox:checked + .modal-form__checkbox-icon {
  background-image: url(../images/Vector.svg);
  background-origin: border-box;
  border: 0;
  border-radius: 2px;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  -webkit-transform: position -50% -50%;
          transform: position -50% -50%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover .modal__btn__path {
  fill: var(--accent-bg-cl);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.3);
          transform: translate(-50%, -50%) scale(1.3);
}

@media screen and (max-width: 1199px) {
  .our-projects {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .our-projects {
    display: block;
    padding-top: 0;
  }
  .our-projects__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .our-projects__par {
    display: block;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding-top: 27px;
    bottom: 0;
    text-decoration: none;
    width: 100%;
    height: 70px;
    color: var(--other-color-wight);
    background-color: rgba(47, 48, 58, 0.8);
  }
}
.our-projects .second-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.our-projects .title-two-in {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  /* --secondary-font: "Raleway Bold", sans-serif; */
  /* Text colors */
  --main-txt-cl: #212121;
  --par-txt-cl: #757575;
  --light-txt-cl: #ffffff;
  --accent-txt-cl: #2196F3;
  --black-txt-logo: #000000;
  --blue-txt-logo: #2196F3;
  --active-txt: #2196F3;
  /* Background colors */
  --accent-bg-cl: #2196F3;
  --other-bg-cl: #2F303A;
  --btn-bg-cl: #F5F4FA;
  --icons-bg-cl: #F5F5F5;
  /* Other */
  --other-color-wight: #FFFFFF;
  /* Icons */
  --color-icon: #AFB1B8;
  --hover-icon: #2196F3;
  /* functions */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: var(--main-txt-cl);
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  position: relative;
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--main-txt-cl);
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .page {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .page {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .page {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .contaner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}/*# sourceMappingURL=main.css.map */