.header {
    position: relative;
    background-color: var(--other-color-wight);
    font-weight: 500;
    line-height: calc(16 / 14);
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    min-width: 480px;
    height: 60px;
    padding: 16px 15px;

    letter-spacing: 0.02em;

    color: var(--main-txt-cl);

    &__button-menu {
        position: absolute;
        display: inline-flex;
        top: 10px;
        right: 10px;
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
        z-index: 3;

            @media screen and (min-width: 768px) {
                display: none;            
            }
    }

    &__button-menu &__icon-dagger:hover {
        fill: var(--accent-txt-cl);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button-menu &__icon-dagger {
        display: none;
    }

    &__button-menu.is-open &__icon-dagger {
        display: block;
    }

    &__button-menu.is-open &__icon-menu {
        display: none;
    }

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
}

.mobile-menu {  
    background-color: var(--other-color-wight); 

        @media screen and (max-width: 767px) {
            padding-top: 48px;
            padding-bottom: 48px;
            padding-left: 40px;
            
            display: none;
            position: absolute;
            flex-direction: column;
            top: 0;
            left: 0;
            width: 480px;
            height: 796px;
            z-index: 2;
        
            &.is-open {
                display: block;
            }
            &__socile-list {
                display: flex;
            }
        
            &__socile-link {
                text-decoration: none;
                font-weight: 500;
                font-size: 18px;
                line-height: calc(22 / 18);
                
                letter-spacing: 0.02em;
            
                color: var(--blue-txt-logo);
                position: relative;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            &__socile-list &__socile-item::after {
                content: '';
                width: 22px;
                height: 0px;
                left: 315px;
                top: 726px;
                margin-left: 10px;
                margin-right: 10px;
            
                border: 1px solid rgba(33, 33, 33, 0.2);
            }
        
            &__socile-list &__socile-item:last-child::after {
                display: none;
            }
        }

        @media screen and (min-width: 768px) {
            display: flex;

            &__socile-list {
                display: none;
            }
        }

}

.navigation { 
    background-color: var(--other-color-wight); 

    &__list {
        display: flex;
    }

    &__item .link:hover {
        color: var(--accent-txt-cl);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }     

        @media screen and (max-width: 767px) {
            padding-top: 48px;
            padding-bottom: 48px;
            padding-left: 40px;
            
            &__list {
                flex-direction: column;
                align-items: stretch;
            }

            &__list &__item {        
                font-weight: 500;
                font-size: 40px;
                line-height: calc(47 / 40);
                letter-spacing: 0.02em;
                margin-bottom: 32px;
            }
            
            &__list .link {
                display: inline-block;
                color: var(--main-txt-cl);
            }

            &__list &__item:last-child {
                margin-bottom: 302px;
            }
        }

        @media screen and (min-width: 768px) {
            
            &__list {
                flex-direction: row;
                position: relative;
            }
            &__list &__item {
                margin-right: 50px;
                margin-left: auto;
            }

            &__list .link {
                display: block;
                padding-top: 32px;
                padding-bottom: 32px;
            }
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            margin-right: 315px;
            
            &__list &__item:last-child {
                margin-right: 0;
            }
        }
}

.group {
    display: flex;
    
    &>&__link {
        font-style: normal;
        font-weight: 500;
        
        color:  var(--par-txt-cl);
    }

    &__link {
        text-decoration: none;
        color: var(--main-txt-cl);
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-txt-cl);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link-icon {
        fill: currentColor;
        margin-right: 10px;
    }     

        @media screen and (max-width: 767px) {
            flex-direction: column-reverse;
            
            &>&__link {
                font-size: 24px;
                line-height: calc(28 / 24);
                letter-spacing: 0.02em;
                margin-bottom: 64px;
            }
            
            & &__link:last-child {
                text-decoration: none;
                font-style: normal;
                font-weight: 500;
                font-size: 34px;
                line-height: calc(40 / 34);
                align-items: center;
                margin-bottom: 32px;
                letter-spacing: 0.02em;
        
                color: var(--accent-txt-cl);
            }

            &__link-icon {
                display: none;
            }

            &__link-icon {
                display: none;
            }
        }

        @media screen and (min-width: 768px) {
            flex-direction: column;
            justify-content: center;

            &>&__link {
                display: flex;
                text-decoration: none;
                font-size: 12px;
                line-height: calc(14 / 12);
                align-items: center;

                letter-spacing: 0.02em;

                color: var(--par-txt-cl);
            }
        }

        @media screen and (min-width: 1200px) {
            flex-direction: row;
            align-items: center;
            margin-right: auto;

            &>&__link {
                font-size: 14px;
                line-height: calc(16 / 14);
            }
            
            & &__link+&__link {
                margin-left: 30px;
            }

            &__link {
                display: flex;
                width: 161px;
                height: 16px;
            }
        }
}

.logo {
    font-family: 'Raleway';
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    line-height: calc(31 / 26);
    margin-right: 92px;

    letter-spacing: 0.03em;

    color: var(--black-txt-logo);

    &__txt {
        color: var(--blue-txt-logo);
    }


    @media screen and (min-width: 768px) {
        margin-right: 87px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: auto;
        margin-left: auto;
    }
}


@media screen and (min-width: 768px) {
    .current:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
    
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-bg-cl);
    
        opacity: 1;
    }

    .link.current {
        color: var(--accent-bg-cl);
    }
}

.link:hover,
.link:focus {
    color: var(--accent-txt-cl);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}