.logo {
    font-family: 'Raleway';
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    line-height: calc(31 / 26);
    margin-right: 93px;

    letter-spacing: 0.03em;

    color: var(--black-txt-logo);

    &__txt {
        color: var(--blue-txt-logo);
    }
}

.footer__logo {
    display: block;
    text-decoration: none;
    color: var(--other-color-wight);
    margin-bottom: 20px;

    &__logo-txt {
        color: var(--blue-txt-logo);
    }
}